<!-- This template is used to show the Map page  -->
<%- include("./partials/header") %>
<div class="container text-center">
    <p class="d-none d-lg-block display-5 m-40 py-3" style="background-color:#EA1C2C; font-weight: bold;">Current
        Traffic for Berlin, Germany</p>
    <img src="images/berlin_map.png" class="img-fluid" style="border:0" height="328" id="lu_map"
        title="Map of Berlin, Germany" alt="Map of Berlin, Germany"></img>
</div>
<%- include("./partials/footer") %>